<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cocoapods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187F51571BF0C5CE00AC78C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187F516B1BF0C5CE00AC78C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187F51761BF0C5CE00AC78C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
